/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); /* Lexend 400 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); /* Big Shoulders Display 700 */
/* RESET STYLE */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Variables */

:root {

    /** Colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main */
main {
    width: 375px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

/** Section */
section {
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20%;
}

section > * {
    padding: 7% 0;
}

.sedan-section  {
    background-color:var(--bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.suv-section  {
    background-color:var(--dark-cyan);
}

.luxury-section  {
    background-color:var(--very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--very-light-gray);
    text-transform:uppercase;
    font-size: 2rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: var(--transparent-white);
    line-height: 1.5rem;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--very-light-gray);
    border-radius: 30px;
    padding: 10%;
    width: 70%;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--very-light-gray);
}

button:hover {
    background-color:transparent;

}

.sedan-section button {
    color: var(--bright-orange);
}

.suv-section button {
    color: var(--dark-cyan);
}

.luxury-section button {
    color: var(--very-dark-cyan);
}

.sedan-section button:hover,
.suv-section button:hover,
.luxury-section button:hover {
    color: var(--very-light-gray);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: var(--very-light-gray);
    padding: 2% 0;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--very-dark-cyan);
}

.attribution a {
    color: var(--dark-cyan);
}

/* Media Query */
@media screen and (min-width:1024px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    main {
        width: 1400px;
        height: 60vh;
        flex-direction: row;
        align-content: center;
    }

    section {
        padding: 4% 9%;
        outline: 1px solid green;
    }

    p {
        padding-bottom: 10%;
    }

    .sedan-section {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .luxury-section {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

}